@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Verdana', monospace; 
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-image: url('./images/theme.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }


img {
    pointer-events: none;
}

input  {
    background-color: #11a6ec25;
    
}

input::placeholder {
    color: white
}


textarea {
    background-color: #11a6ec25;
}

textarea::placeholder {
    color: white
}

.custom-bg-class {
    background-image: url('./images/Rectangle 4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; /* Set the height as needed */
  }

  


