@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Verdana', monospace; 
    color: aliceblue;
}

img {
    pointer-events: none;
}

input  {
    background-color: #11a6ec25;
    
}

input::placeholder {
    color: white
}


textarea {
    background-color: #11a6ec25;
}

textarea::placeholder {
    color: white
}


